Django==1.5.11
MySQL-python==1.2.4
Pillow==6.2.0
PyJWT==0.4.1
PyPDF2==1.24
PyYAML==3.11
South==0.8.2
Unidecode==0.4.17
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.19
celery==3.1.17
django-appconf==1.0.1
django-celery==3.1.16
django-compressor==1.5
django-countries==3.3
django-facebook==6.0.2
django-htmlmin==0.7.0
django-modeltranslation==0.9.1
django-mongodb-engine==0.5.2
django-redis-cache==1.5.3
django-user-agents==0.3.0
django-widget-tweaks==1.3
django-xhtml2pdf==0.0.3
djangotoolbox==1.6.2
html5lib==0.99999
httplib2==0.9.1
httplib2.system-ca-certs-locater==0.1.2
kombu==3.0.24
mongoadmin==0.2
mongodbforms==0.3
mongoengine==0.9.0
oauth2==1.5.211
oauthlib==0.7.2
pymongo==2.8
python-chikka==0.5
python-dateutil==2.4.2
python-odesk==0.5.8
python-openid==2.2.5
python-social-auth==0.2.2
pytz==2015.2
redis==2.10.3
reportlab==3.1.44
requests==2.0.1
requests-oauthlib==0.4.2
six==1.9.0
ua-parser==0.3.6
urllib3==1.10
user-agents==0.3.2
wsgiref==0.1.2
xhtml2pdf==0.0.6
