{% extends 'frontend/base.html' %}

{% block header_scripts %}
<style type="text/css">

    #app-title {
        color:#FA00AF;
        text-align:center;
        font-size: 3em;
        margin-bottom: 20px;
    }

    #chat-log {
        border: 1px solid #cacaca;
        min-height: 200px;
        max-height: 300px;
        overflow-y: scroll;
    }

    #messages-container {
        margin-top:20px;
    }

    #chat-tools {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
    <h1 id="app-title">PINKISH</h1>
    {% if request.user.is_authenticated %}
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12" style="margin-bottom:10px;">
                Welcome <em>{{ request.user.username }}</em>
            </div>
            <div class="col-md-12">
                <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Logout</a>
            </div>
        </div>
            

        <!-- master -->
        {% if USER_GROUP == MEMBER_MASTER %}
            <div class="row">                
                <div class="col-md-12 col-xs-12">
                        <button data-user-id="{{ request.user.id }}" id="end-chat-session" class="btn btn-danger btn-block hidden" style="margin-bottom:10px;">End Session</button>
                </div>
            </div>
            <div class="row">
                <ul id="chat-request-queue">
                </ul>
            </div>
        {% endif %}
        <!-- disciple -->
        {% if USER_GROUP == MEMBER_DISCIPLE %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <button data-user-id="{{ request.user.id }}" id="send-chat-request" class="btn btn-primary btn-block" style="margin-bottom:10px;">Send Chat Request</button>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <button data-user-id="{{ request.user.id }}" id="cancel-chat-request" class="btn btn-warning btn-block hidden" style="margin-bottom:10px;">Cancel Request</button>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <button data-user-id="{{ request.user.id }}" id="end-chat-session" class="btn btn-danger btn-block hidden" style="margin-bottom:10px;">End Session</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        {% endif %}

        <div class="row">
            <div id="messages-container" class="hidden">
                <div class="col-md-12">
                    <div id="chat-log">

                    </div>
                </div>
                <div class="col-md-12">
                    <div id="chat-tools">
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <label class="col-md-1 col-sm-1 col-xs-3">Message: </label> 
                                <div class="col-md-11 col-sm-11 col-xs-9">
                                    <input type="text" class="form-control input-block" id="chat-new-message" />
                                </div>
                            </div>
                            <div class="form-button col-md-12" style="padding-left:0px !important; padding-right:0px !important">
                                <button type="button" class="btn btn-primary btn-block send-message">Send</button>
                            </div>
                            <div class="clearfix">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% comment %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endcomment %}

        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
                <form action="{% url 'login' %}" method="POST" class="form form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-md-12">Username</label>
                        <div class="col-md-12">
                            <input type="text" name="username" id="username" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-12">Password</label>
                        <div class="col-md-12">
                            <input type="password" name="password" id="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding:0px;">
                        <input type="submit" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
    // hold the latest request code
    {% if current_request_code %}
        var REQUEST_CODE = '{{ current_request_code }}';
    {% else %}
        var REQUEST_CODE = null;
    {% endif %}
    {% if current_request_status %}
        var REQUEST_STATUS = {{ current_request_status }};
    {% else %}
        var REQUEST_STATUS = null;
    {% endif %}
    var REQUEST_PENDING = 1;
    var REQUEST_ACCEPTED = 2;
    var REQUEST_EXPIRED = 3;
    var REQUEST_ENDED = 4;
    var REQUEST_CANCELLED = 5;
    var intervalID = null;
    var newMessageIntervalId = null;
    var default_message = 'Send Chat Request';
    var sending_message = 'Sending request...';     
    var pending_message = 'Waiting for a master to accept'      
    var success_message = 'Request sent';
    {% comment %}
    {% if current_messages %}
        var message_list = {% autoescape off %}{{ current_messages }}{% endautoescape %};
    {% else %}
        var message_list = [];
    {% endif %}
    {% endcomment %}

    var message_list = [];

    // disciple
    function send_chat_request(user_id) {
        var ret = null;
        var elem = '#send-chat-request';

        clearInterval(intervalID);

        $.ajax({
            url: '{% url "send_request" %}',
            type: 'POST',
            data: {'user_id':user_id},
            success: function(response) {
                var data = JSON.parse(response);
                if(data.error) {
                    toastr.error(data.message);
                    setElemText(elem, default_message);
                    $(elem).removeAttr('disabled');
                    ret = false;
                } else {
                    toastr.success(data.message);
                    // set current request code
                    REQUEST_CODE = data.request_code;
                    REQUEST_STATUS = REQUEST_PENDING;
                    $(elem).attr('disabled', 'disabled');
                    $('#cancel-chat-request').removeClass('hidden');
                    setElemText(elem, pending_message)
                    // set status checker
                    intervalID = setInterval(function() {
                                                checkRequestStatus(user_id, data.request_code)
                                            }, 4000)
                }             
            }
        });

        return ret;
    }

    function checkRequestStatus(user_id, code) {
        if(REQUEST_STATUS == REQUEST_PENDING) {
            $.ajax({
                url: '{% url "check_request_status" %}',
                type: 'POST',
                data: {
                    'user_id': user_id,
                    'request_code': code
                },
                success: function(response) {
                    var data = JSON.parse(response);
                    if(!data.error) {
                        if(data.status_code == 2) {
                            $('#messages-container').removeClass('hidden');
                            $('#end-chat-session').removeClass('hidden');
                            $('#cancel-chat-request').addClass('hidden');
                            $('#send-chat-request').addClass('hidden');                            
                            clearInterval(intervalID);
                            clearInterval(newMessageIntervalId);
                            newMessageIntervalId = setInterval(checkNewMessages, 2000);
                        } 
                    }
                    console.log(response);
                }
            });
        }
    }

    // master
    function checkRequestNotifications(user_id) {
        $.ajax({
            url: '{% url "check_request_notifications" %}',
            type: 'POST',
            data: {'user_id': user_id},
            success: function(response) {
                var data = JSON.parse(response);
                if(data.error) {
                    toastr.error(data.message)
                } else {
                    var notifications = data.notification_list;
                    toastr.options = {
                      "closeButton": true,
                      "extendedTimeOut": "0",
                      "timeOut": "0"
                    }   
                    $.each(notifications, function() {
                        html = '<div class="request-notification">';
                            html += this['user'] + ' requested a chat. ';
                            html += '<br />'
                            html += '<button class="accept-request btn btn-primary btn-xs" data-request-code="' + this['request_code'] + '">';
                            html += 'Accept';
                            html += '</button>'
                        html += '</div>';
                        toastr.success(html);
                    });
                }
            }
        });
    }

    function acceptRequest(user_id, request_code) {
        $.ajax({
            url: '{% url "accept_request" %}',
            type: 'POST',
            data: {
                'user_id': user_id,
                'request_code': request_code
            },
            success: function(response) {
                var data = JSON.parse(response);
                toastr.options = {
                    "extendedTimeOut": 10,
                    "timeOut": 10
                }
                if(data.error) {
                    toastr.error(data.message);
                } else {
                    toastr.success(data.message);
                    $('#messages-container').removeClass('hidden');
                    $('#end-chat-session').removeClass('hidden');
                    clearInterval(intervalID);
                    clearInterval(newMessageIntervalId);
                    newMessageIntervalId = setInterval(checkNewMessages, 2000);
                }


            }
        });        

        REQUEST_CODE = request_code;
        REQUEST_STATUS = REQUEST_ACCEPTED;
    }

    // all
    function setElemText(elem, msg) {
        $(elem).html(msg);
    }

    function newMessage(user_id, request_code, chat_message) {
        $.ajax({
            url: '{% url "new_message" %}',
            type: 'POST',
            data: {
                'user_id': user_id,
                'request_code': request_code,
                'message': chat_message
            },
            success: function(response) {
                var data = JSON.parse(response);
                if(data.error) {
                    toastr.error(data.message);
                }
                $('.send-message').removeAttr('disabled');
            }
        });
    }

    function appendToChat(msg) {
        var elem = $('#chat-log')[0];
        $('#chat-log').append(msg + '<br />');
        sh = elem.scrollHeight;
        h = $('#chat-log').height();
        $('#chat-log').scrollTop(sh - h);
    }

    function getMessageIds() {
        var ids = [];
        $.each(message_list, function() {
            ids.push(this.id);
        });
        return ids;
    }

    function checkNewMessages() {
        $.ajax({
            url: '{% url "check_new_messages" %}',
            type: 'POST',
            data: {
                'request_code': REQUEST_CODE,
                'existing_ids': JSON.stringify(getMessageIds(message_list))
            },
            success: function(response) {
                var data = JSON.parse(response);
                if(data.error) {
                    if(data.error_code == 'non-existing') {
                        clearInterval(newMessageIntervalId);
                        $('#messages-container').addClass('hidden');
                        $('#end-chat-session').addClass('hidden');
                        $('#chat-log').html('');
                        REQUEST_CODE = null;
                        REQUEST_STATUS = null;
                        toastr.error('Chat has ended')

                        {% if USER_GROUP == MEMBER_DISCIPLE %}
                            $('#send-chat-request').removeClass('hidden');
                            $('#send-chat-request').removeAttr('disabled');
                            setElemText('#send-chat-request', default_message);
                        {% endif %}
                    } else {
                        toastr.error(data.message);
                    }
                } else {
                    $.each(data.new_messages, function() {
                        var that = this;
                        var found = false;
                        $.each(message_list, function() {
                            if(this.id == that.id) {
                                found = true;
                            }
                        });

                        if(!found) {
                            message_list.push(this);    
                            chat_message = this.sender + ': ' + this.message;
                            appendToChat(chat_message);
                        }                                                
                    })
                }
            }
        });
    }

    function changeChatRequestStatus(code, status) {
        $.ajax({
            url: '{% url "chat_request_change_status" %}',
            type: 'POST',
            data: {
                'request_code': code,
                'status': status
            },
            success: function(response) {
                var data = JSON.parse(response);
                console.log(data);
                if(data.error) {
                    toastr.error(data.message);
                } else {
                    $('#messages-container').addClass('hidden');
                    $('#chat-log').html('');
                    if(data.status == REQUEST_CANCELLED || data.status == REQUEST_ENDED) {
                        REQUEST_CODE = null;
                        REQUEST_STATUS = null;
                        clearInterval(intervalID);
                        clearInterval(newMessageIntervalId);
                        // disciple
                        {% if USER_GROUP == MEMBER_DISCIPLE %}
                            $('#send-chat-request').removeClass('hidden');
                            $('#send-chat-request').removeAttr('disabled');
                            setElemText('#send-chat-request', default_message);
                            $('#cancel-chat-request').addClass('hidden');
                            $('#end-chat-session').addClass('hidden');
                        {% endif %}  
                        // master
                        {% if USER_GROUP == MEMBER_MASTER %}
                            $('#end-chat-session').addClass('hidden');                            
                        {% endif %}
                    }
                }
            }
        });
    }

    // load
    $(function() {
        // disciple
        {% if USER_GROUP == MEMBER_DISCIPLE %}
            // sEND
            $('#send-chat-request').on('click', function() {
                // disciple
                // init
                var elem = '#send-chat-request';
                var user_id = $(this).data('user-id');
                
                setElemText(elem, sending_message);
                $(this).attr('disabled', 'disabled');
                // send request
                send_chat_request(user_id);
            });

            // Cancel
            $('#cancel-chat-request').on('click', function() {
                var elem = '#send-chat-request';
                setElemText(elem, default_message);
                $(elem).removeAttr('disabled', 'disabled');
                $(this).addClass('hidden');
                clearInterval(intervalID);
            });


            if(REQUEST_CODE) {
                msg = '';
                // set status checker
                intervalID = setInterval(function() {
                                            checkRequestStatus({{ request.user.id }}, REQUEST_CODE);
                                        }, 4000)
                if(REQUEST_STATUS == 1) {
                    msg = pending_message;
                    $('#send-chat-request').attr('disabled', 'disabled');
                    $('#cancel-chat-request').removeClass('hidden');
                } else if (REQUEST_STATUS == 2) {
                    $('#messages-container').removeClass('hidden');
                    $('#end-chat-session').removeClass('hidden');
                    $('#send-chat-request').addClass('hidden');
                    // fill chat log
                    $.each(message_list, function() {
                        chat_msg = this['sender'] + ': ' + this['message'];
                        appendToChat(chat_msg);
                    });
                    newMessageIntervalId = setInterval(checkNewMessages, 2000);
                }
                setElemText('#send-chat-request', msg);
            }
        {% endif %}

        // master
        {% if USER_GROUP == MEMBER_MASTER %}
            setInterval(function() {
                            checkRequestNotifications({{ request.user.id }})
                        }, 4000);

            $('body').on('click', '.accept-request', function() {
                var request_code = $(this).data('request-code');
                acceptRequest({{ request.user.id }}, request_code);                
            });

            if(REQUEST_CODE) {
                // session on-going
                if(REQUEST_STATUS == 2) {
                    $('#end-chat-session').removeClass('hidden');
                    $('#messages-container').removeClass('hidden'); 
                    // fill chat log
                    $.each(message_list, function() {
                        chat_msg = this['sender'] + ': ' + this['message'];
                        appendToChat(chat_msg);
                    });       
                    newMessageIntervalId = setInterval(checkNewMessages, 2000);
                }
            }
        {% endif %}

        // all
        $('.send-message').on('click', function() {
            $(this).attr('disabled', 'disabled');
            var chat_message = $('#chat-new-message').val();
            $('#chat-new-message').val('');
            if(chat_message == '') {
                $('#chat-new-message').focus();
                toastr.error('Your message is empty');
                $(this).removeAttr('disabled', 'disabled');
            } else {
                newMessage({{ request.user.id }}, REQUEST_CODE, chat_message);
            }
        });

        $('#chat-new-message').on('keypress', function(e) {
            if(e.keyCode == 13) {
                e.preventDefault();
                var chat_message = $('#chat-new-message').val();
                $('#chat-new-message').val('');
                if(chat_message == '') {
                    $('#chat-new-message').focus();
                    toastr.error('Your message is empty');
                    $(this).removeAttr('disabled', 'disabled');
                } else {
                    newMessage({{ request.user.id }}, REQUEST_CODE, chat_message);
                }
                return false;                
            }
        });

        $('#end-chat-session').on('click', function() {
            changeChatRequestStatus(REQUEST_CODE, REQUEST_ENDED);
        });
    });
</script>
{% endblock %}