{% extends 'frontend/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        Welcome {{ request.user.username }}
        <a href="{% url 'logout' %}">Logout</a>

        <!-- master -->
        {% if USER_GROUP == MEMBER_MASTER %}
            <div class="row">
                <ul id="chat-request-queue">
                </ul>
            </div>
        {% endif %}
        <!-- disciple -->
        {% if USER_GROUP == MEMBER_DISCIPLE %}
            <div class="row">
                <button data-user-id="{{ request.user.id }}" id="send-chat-request" class="btn btn-primary btn-md">Send Chat Request</button>
            </div>
        {% endif %}
    {% else %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <label>
                Username <input type="text" name="username" />
                Password <input type="password" name="password" />      
            </label>
            <input type="submit" />
        </form>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
    // hold the latest request code
    var REQUEST_CODE = null;

    // disciple
    function send_chat_request(user_id) {
        var ret = null;

        $.ajax({
            url: '{% url "send_request" %}',
            type: 'POST',
            data: {'user_id':user_id},
            success: function(response) {
                var data = JSON.parse(response);
                if(data.error) {
                    toastr.error(data.message);
                    ret = false;
                } else {
                    toastr.success(data.message);
                    // set current request code
                    REQUEST_CODE = data.request_code;
                    ret = true;
                }             
            }
        });

        return ret;
    }

    // master
    function checkRequestNotifications(user_id) {
        $.ajax({
            url: '{% url "check_request_notifications" %}',
            type: 'POST',
            data: {'user_id': user_id},
            success: function(response) {
                var data = JSON.parse(response);
                if(data.error) {
                    toastr.error(data.message)
                } else {
                    var notifications = data.notification_list;
                    $.each(notifications, function() {
                        html = '<div class="request-notification">';
                            html += this['user'] + ' requested a chat';
                            html += '<button class="accept-request" data-request-code="' + this['request_code'] + '">';
                        html += '</div>';
                        toastr.info(html);
                    });
                }
            }
        });
    }

    // all
    function set_elem_text(elem, msg) {
        $(elem).val(msg);
    }

    $(function() {
        // disciple
        {% if USER_GROUP == MEMBER_DISCIPLE %}
        $('#send-chat-request').on('click', function() {
            // disciple
            // init
            var elem = '#send-chat-request';
            var user_id = $(this).data('user-id');
            var default_message = 'Send Chat Request';
            var sending_message = 'Sending request...';           
            var success_message = 'Request sent';
            
            set_elem_text(elem, sending_message);
            $(this).attr('disabled', 'disabled');
            // send request
            ret = send_chat_request(user_id);
            if(ret) {
                // success
                set_elem_text(elem, success_message);
            } else {
                // error
                set_elem_text(elem, default_message);
                $(this).removeAttr('disabled', 'disabled');
            }
        });
        {% endif %}

        // master
        {% if USER_GROUP == MEMBER_MASTER %}
            setInterval(checkRequestNotifications({{ request.user.id }}), 4000);
        {% endif %}
    });
</script>
{% endblock %}